# ======================== Elasticsearch Configuration =========================

# ---------------------------------- Cluster -----------------------------------

cluster.name: {{ elasticsearch_cluster_name }}

# ------------------------------------ Node ------------------------------------

node.name: {{ elasticsearch_node_name }}

#node.attr.rack: r1

# ----------------------------------- Paths ------------------------------------

path.data: {{ elasticsearch_data_dir }}

path.logs: {{ elasticsearch_log_dir }}

# ----------------------------------- Memory -----------------------------------

#bootstrap.memory_lock: true

# ---------------------------------- Network -----------------------------------

network.host: {{ elasticsearch_network_host }}

http.port: {{ elasticsearch_http_port }}

# --------------------------------- Discovery ----------------------------------

{% if elasticsearch_discovery_type is defined %}
discovery.type: {{ elasticsearch_discovery_type }}
{% else %}
discovery.seed_hosts: {{ elasticsearch_discovery_seed_hosts | to_json }}

cluster.initial_master_nodes: {{ elasticsearch_discovery_initial_master_nodes | to_json }}
{% endif %}

# --------------------------------- Security ----------------------------------

{% if elasticsearch_xpack_security_enabled %}
xpack.security.enabled: {{ elasticsearch_xpack_security_enabled }}
{% endif %}
{% if elasticsearch_xpack_security_api_key %}
xpack.security.authc.api_key.enabled: true
{% endif %}
{% if elasticsearch_xpack_security_audit_enabled %}
xpack.security.audit.enabled: {{ elasticsearch_xpack_security_audit_enabled }}
{% endif %}

# xpack security transport
{% if elasticsearch_xpack_security_transport_ssl_enabled %}
xpack.security.transport.ssl.enabled: {{ elasticsearch_xpack_security_transport_ssl_enabled }}
xpack.security.transport.ssl.verification_mode: {{ elasticsearch_xpack_security_transport_ssl_verification_mode }}
xpack.security.transport.ssl.keystore.path: {{ elasticsearch_xpack_security_transport_ssl_keystore_path }}
xpack.security.transport.ssl.truststore.path: {{ elasticsearch_xpack_security_transport_ssl_truststore_path }}
{% endif %}

# xpack security http
{% if elasticsearch_xpack_security_http_ssl_enabled %}
xpack.security.http.ssl.enabled: {{ elasticsearch_xpack_security_http_ssl_enabled }}
xpack.security.http.ssl.key: {{ elasticsearch_xpack_security_http_ssl_key }}
xpack.security.http.ssl.certificate: {{ elasticsearch_xpack_security_http_ssl_certificate }}
xpack.security.http.ssl.certificate_authorities: {{ elasticsearch_xpack_security_http_ssl_certificate_authorities | to_json }}
{% endif %}

# ---------------------------------- Logging -----------------------------------
