# ======================== Elasticsearch Configuration =========================

# ---------------------------------- Cluster -----------------------------------

cluster.name: {{ elasticsearch_cluster_name }}

# ------------------------------------ Node ------------------------------------

node.name: {{ elasticsearch_node_name }}

#node.attr.rack: r1

# ----------------------------------- Paths ------------------------------------

path.data: {{ elasticsearch_data_dir }}

path.logs: {{ elasticsearch_log_dir }}

# ----------------------------------- Memory -----------------------------------

#bootstrap.memory_lock: true

# ---------------------------------- Network -----------------------------------

network.host: {{ elasticsearch_network_host }}

http.port: {{ elasticsearch_http_port }}

# --------------------------------- Discovery ----------------------------------

{% if elasticsearch_discovery_type is defined %}
discovery.type: {{ elasticsearch_discovery_type }}
{% else %}
discovery.seed_hosts: {{ elasticsearch_discovery_seed_hosts | to_json }}

cluster.initial_master_nodes: {{ elasticsearch_discovery_initial_master_nodes | to_json }}
{% endif %}

# --------------------------------- Security ----------------------------------

{% if elasticsearch_xpack_security_enabled %}
xpack.security.enabled: {{ elasticsearch_xpack_security_enabled }}
{% endif %}

{% if elasticsearch_xpack_security_api_key %}
xpack.security.authc.api_key.enabled: true
{% endif %}

{% if elasticsearch_xpack_security_audit_enabled %}
xpack.security.audit.enabled: {{ elasticsearch_xpack_security_audit_enabled }}
{% endif %}

# ---------------------------------- Logging -----------------------------------
